{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% from "_enrollment.html" import enrollment_trends_cell %}


{% block content %}
<h3 class="navy fw-bold">Browse Enrollment Trends</h3>
<p class="text-secondary">Data source: UCSB Office of Registrar</p>

{{ render_form(filters_form, form_type='inline') }}

{% for t in all_trends.values() %}
    <div class="mt-3">
        {{ enrollment_trends_cell(t, classes[loop.index0], passtimes_per_quarter) }}
    </div>
{% endfor %}
{% endblock %}
